<div class="card" *ngFor="let catalog of catalogs">

  <app-product [companiesByOwner]="catalog.companiesByOwner" [chanelName]="catalog.chanelName"
               [smallDiscription]="catalog.smallDiscription" [price]="catalog.price" [id]="catalog.id">


  </app-product>


</div>

<nav aria-label="Page navigation example">
  <ul class="pagination">
    <li class="page-item">
      <button class="page-link" aria-label="Previous" [disabled]="currentPage===0" (click)="showPreviousPage()">
        <span aria-hidden="true">&laquo;</span>
      </button>
    </li>
    <li class="page-item"><a class="page-link">{{currentPage + 1}}</a></li>
    <li class="page-item">
      <button class="page-link" aria-label="Next" [disabled]="currentPage===totalPages - 1" (click)="showNextPage()">
        <span aria-hidden="true">&raquo;</span>
      </button>
    </li>
  </ul>
</nav>
