<div *ngIf="storageService.getCurrentUser(); then  showBalance()"></div>
<h3>Your balance: {{moneyAmount}}$<span class="badge badge-secondary"></span></h3>




<div class="card" style="width: 18rem;">
  <form>
  <div class="card-body">
    <h5 class="card-title">Here you can add some money</h5>

    <input type="number" min="1" max="1000" class="form-control" placeholder="Input ammount" [(ngModel)]="addedMoney" name="addedMoney">
    <app-btn [text]="'Add'" (click)="addMoney()"></app-btn>


  </div>
  </form>
</div>

