<form>
  <div class="form-group" id="add_chanel_options">

    <label for="exampleFormControlInput1">Head name</label>
    <input type="string" class="form-control" id="exampleFormControlInput1" placeholder="Head input">
  </div>

  <div class="form-group">
    <label for="exampleFormControlTextarea1">Small description</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>

  <form>
    <div class="form-group">
      <label for="exampleFormControlFile1">file input</label>
      <input type="file" class="form-control-file" id="exampleFormControlFile1">
    </div>
  </form>
  <a href="#" class="btn btn-success">Create</a>

</form>
