<body>
<form>
  <input type="text" class="form-control" name="bg" placeholder="bbb" [(ngModel)]="user.login" #login="ngModel" required>
  <input type="text" class="form-control" name="bg" placeholder="bbb" [(ngModel)]="user.eMail"#eMail="ngModel" required>
  <input type="text" class="form-control" name="bg" placeholder="bbb" [(ngModel)]="user.password"#password="ngModel" required>

<!--    <app-input [inputLabel]="'Name'"-->
<!--               [placeholder]="'Please enter your name'" [(ngModel)]="editableCatalog.login" #login="ngModel" required>-->
<!--    </app-input>-->

<!--  <app-input [inputLabel]="'Email'"-->
<!--             [placeholder]="'Please enter your email'" type="email"[(ngModel)]="editableCatalog.eMail" #eMail="ngModel" required>-->
<!--  </app-input>-->

<!--  <app-input [inputLabel]="'Password'"-->
<!--             [placeholder]="'Password'" type="password"[(ngModel)]="editableCatalog.password" #password="ngModel" required>-->
<!--  </app-input>-->



<!--  <app-input [inputLabel]="'Confirm password'"-->
<!--             [placeholder]="'confirm password'" type="password"[(ngModel)]="editableCatalog.password" #password="ngModel" required>-->
<!--  </app-input>-->


  <fieldset class="form-group">
    <div class="form-row align-items-center">
      <div class="col-auto my-1">
        <label class="mr-sm-2" for="inlineFormCustomSelect">Select role</label>
        <select class="custom-select mr-sm-2" id="inlineFormCustomSelect" name="roleSelect" required [(ngModel)]="user.role">
          <option selected disabled="Choose yours one">Choose yours one</option>
          <option *ngFor="let role of roles" [ngValue]="role.name"> {{role.name}}</option>
<!--          <option [ngValue]="2"> Company</option>-->

        </select>
      </div>
    </div>
  </fieldset>



  <div class="container">
    <app-btn [type]="'submit'" [ngClass]="'btn btn-dark btn-block'"
             (click)="_addUser()"
             [disabled]="login.invalid|| password.invalid || eMail.invalid"
             [text]="'Sign up'" ></app-btn>
  </div>

</form>
</body>
