
#navbarSupportedContent{
  background-color: #742E37;
}
.bg-dark{
  background-color: #742E37!important;
  position: fixed;
  width: 100%;
  z-index: 99;
}

label {
  margin-right: 2px;
  margin-left: 5px;
}
input {
  width: 210px;
  margin-left: 7px;
  margin-right: 5px;
}
.login-form__container {
  display: flex;
  flex-direction: row;

}

.login-form__danger-alert {
  margin-top: 20px
}
button{
  height: 40px;
  margin-top: 30px;

}
