#loggedInfo{
  font-size: medium;
}

#space{
  font-family: Rockwell;
  font-size: x-large;
  text-decoration: underline;
}

#navbarSupportedContent{
  /*background-color: rgba(13, 167, 209, 0.7);*/
  font-size: x-large;
}
.bg-dark{
  background-color: rgba(13, 167, 209, 0.9) !important;
  position: fixed;
  width: 100%;
  z-index: 99;
}

label {
  margin-right: 2px;
  margin-left: 5px;
}
input {
  width: 210px;
  margin-left: 7px;
  margin-right: 5px;
}
.login-form__container {
  display: flex;
  flex-direction: row;

}

.login-form__danger-alert {
  margin-top: 2px
}
button{
  height: 40px;

}
