<div class="container">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <span class="navbar-brand mb-0 h1">Space today</span>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>

    </button>


    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">

        <li class="nav-item">
          <a class="nav-link" href="catalog">Cathalog <span class="sr-only"></span></a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Recomended for you
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">SpaceX</a>
            <a class="dropdown-item" href="#">Nasa</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Roskosmos</a>
            <a class="dropdown-item" href="#">Belkosmos</a>
          </div>
        </li>

        <li class="nav-item">
          <a class="nav-link " href="page-about.html" tabindex="-1" aria-disabled="true">About project</a>
        </li>
      </ul>

      <div class="user_panel">
        <div class="loginin">

          <a href="#">Вход</a> / <a href="registration">Регистрация</a>
        </div>
        <div style=" float:left; padding-left: 10px; padding-top: 4px;" id="test">
          <form method="post" action="">
            <label for="login_name">Логин: </label><input type="text" name="login_name" id="login_name" style="width: 60px;">
            <label for="login_password">Пароль (<a href="#">Забыли?</a>): </label><input type="password" name="login_password" id="login_password" style="width: 60px;">&nbsp;
            <button class="fbutton2" title="Войти">
              <span>Войти</span>
            </button>
            <input name="login" type="hidden" id="login" value="submit">
          </form>
        </div>
      </div>

    </div>
  </nav>
</div> <!-- Container-->
