<nav>
  <div class="nav nav-tabs">
<!--    <li [class.active]="linkView==='personal'" class="profile-tabs"><a (click)="linkView='personal'">Personal Information</a></li>-->
    <li [class.active]="linkView==='chanels'"class="profile-tabs"><a (click)="linkView='chanels'">Chanels</a></li>
    <li [class.active]="linkView==='balance'"class="profile-tabs"><a (click)="linkView='balance'">Balance</a></li>
<!--    <li [class.active]="linkView==='registration'"class="profile-tabs"><a (click)="linkView='registration'">Admin Registration</a></li>-->
  </div>
</nav>


<div [ngSwitch]="linkView">
<!--  <div *ngSwitchCase="'personal'">-->

<!--    <app-personal></app-personal>-->

<!--  </div>-->
  <div *ngSwitchCase="'chanels'">

    <div class="tab-pane " id="chanels" role="tabpanel" aria-labelledby="chanels-tab">


      <h5>All active subscriptions</h5>

    </div>


    <app-navigation-links></app-navigation-links>


  </div>
  <div *ngSwitchCase="'balance'">

    <app-balance></app-balance>


  </div>

<!--  <div *ngSwitchCase="'registration'">-->

<!--    <app-register-admin> </app-register-admin>-->


<!--  </div>-->
</div>













