.nav-tabs li{
  color: #495057;

  border-color: #dee2e6 #dee2e6 #fff;
  margin-left: 5px;
  padding-left: 5px;

}

.bk-card{
  font: inherit;
  line-height: 18px;
  font-family: 'YS Text',Arial,sans-serif;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  white-space: normal;
  background: cadetblue;
  color: #000;
  position: relative;
  box-shadow: 0 1px 4px 0 #bbb;
  overflow: hidden;
  width: 260px;
  height: 160px;
  padding: 40px;
  border-radius: 20px;
  margin-bottom: 30px;
}

.bk-card__number{
  font: inherit;
  line-height: 18px;
  font-family: 'YS Text',Arial,sans-serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  white-space: normal;
  color: #000;
  position: absolute;
  bottom: 20px;
  left: 0;
  width: 100%;
  text-align: center;
  font-size: 24px;
}

.profile-tabs {
  cursor: pointer;
}


