<nav>
  <div class="nav nav-tabs">
    <li [class.active]="linkView==='personal'"><a (click)="linkView='personal'">Personal Information</a></li>
    <li [class.active]="linkView==='chanels'"><a (click)="linkView='chanels'">Chanels</a></li>
    <li [class.active]="linkView==='balance'"><a (click)="linkView='balance'">Balance</a></li>
  </div>
  <!--todo click link (change link state)-->
</nav>


<div [ngSwitch]="linkView">
  <div *ngSwitchCase="'personal'">

    <div class="container" id="navigation links">

      <hr>
      <div class="form-group">

        <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade show active" id="info" role="tabpanel" aria-labelledby="info-tab">


<!--todo make input shared component-->

            <form>
              <!--first name-->
              <app-input [inputLabel]="'First Name'"
               [placeholder]="'Please enter your first name'" >
              </app-input>

              <app-input [inputLabel]="'Last Name'"
                         [placeholder]="'Please enter your last name'" >
              </app-input>

              <app-input [inputLabel]="'Adress'"
                         [placeholder]="'Please enter your home adress'" >
              </app-input>

              <app-input [inputLabel]="'Phone number'"
                         [placeholder]="'+375 11 111 11 11'"  type="tel" pattern="[+][0-9]{3} [0-9]{2} [0-9]{3} [0-9]{2} [0-9]{2}">
              </app-input>
                <small span class="example">example: +3754 11 111 11 11
                  <hr></small>



              <form>

                <div class="form-row align-items-center">
                  <div class="col-auto my-1">
                    <label class="mr-sm-2" for="inlineFormCustomSelect">Select gender</label>
                    <select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
                      <option selected disabled="Choose yours one">Choose yours one</option>
                      <option value="1">Male</option>
                      <option value="2">Female</option>
                      <option value="3">Other</option>
                    </select>
                  </div>
                </div>

               <div class="container">
                 <app-btn [text]="'Save changes'" ></app-btn>
                </div>

              </form>
            </form>
          </div>
        </div>
      </div>
    </div>


  </div>
  <div *ngSwitchCase="'chanels'">

    <div class="tab-pane " id="chanels" role="tabpanel" aria-labelledby="chanels-tab">

      <hr>
      <h5>All active subscriptions</h5>

    </div>


    <app-navigation-links></app-navigation-links>


  </div>
  <div *ngSwitchCase="'balance'">

    <app-balance></app-balance>


  </div>
</div>













