<nav>
  <div class="nav nav-tabs">
    <li [class.active]="linkView==='personal'"><a (click)="linkView='personal'">Personal Information</a></li>
    <li [class.active]="linkView==='chanels'"><a (click)="linkView='chanels'">Chanels</a></li>
    <li [class.active]="linkView==='balance'"><a (click)="linkView='balance'">Balance</a></li>
    <li [class.active]="linkView==='registration'"><a (click)="linkView='registration'">Admin Registration</a></li>
  </div>
  <!--todo click link (change link state)-->
</nav>


<div [ngSwitch]="linkView">
  <div *ngSwitchCase="'personal'">

    <app-personal></app-personal>


  </div>
  <div *ngSwitchCase="'chanels'">

    <div class="tab-pane " id="chanels" role="tabpanel" aria-labelledby="chanels-tab">

      <hr>
      <h5>All active subscriptions</h5>

    </div>


    <app-navigation-links></app-navigation-links>


  </div>
  <div *ngSwitchCase="'balance'">

    <app-balance></app-balance>


  </div>

  <div *ngSwitchCase="'registration'">

    <app-register-admin> </app-register-admin>


  </div>
</div>













