<div class="container">
<hr>
  <app-card [cardHeader]="'SpaceX'"
            [cardTitle]="'Elon Mask is a human'"
            [cardBody]="'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab adipisci' +
           ' aperiam assumenda dolore eligendi explicabo inventore, itaque '">

  </app-card>

  <app-card [cardHeader]="'SpaceX'"
            [cardPrice]="'4,99'"
            [cardTitle]="'Tesla is not a car'"
            [cardBody]="'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab adipisci' +
           ' aperiam assumenda dolore eligendi explicabo inventore, itaque '">

  </app-card>

  <app-card [cardHeader]="'Nasa'"
            [cardTitle]="'Hello World!'"
            [cardBody]="'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab adipisci' +
           ' aperiam assumenda dolore eligendi explicabo inventore, itaque '">
  </app-card>

  <app-card [cardHeader]="'Roskosmos'"
            [cardTitle]="'Put in fff'"
            [cardBody]="'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab adipisci' +
           ' aperiam assumenda dolore eligendi explicabo inventore, itaque '">
  </app-card>


<footer id="main-footer">
  <p> Project by asteexx &copy; 2019 </p>
</footer>

</div>
