<section class="wrapper" style="min-height: 285px;">
  <div id="ember908" class="ember-view admin-tabs"><!---->
  </div>

  <div id="content">
    <!---->
    <!---->
    <div class="static-landing-page">
      <h1>NASA Live</h1>
      <p><strong>Thursday, Dec.&nbsp;19, 9:30 a.m. EST</strong> - NASA Administrator Jim Bridenstine near the Countdown Clock at Kennedy Space Center in Florida.</p>

      <ul>
        <li>On Twitter: <a href="https://twitter.com/nasa">@NASA</a>, <a href="https://twitter.com/Commercial_Crew">@Commercial_Crew</a>, <a href="https://twitter.com/boeingspace">@BoeingSpace</a>, <a href="https://twitter.com/Space_Station">@Space_Station</a></li>
        <li>Status updates from Kennedy: <a href="https://blogs.nasa.gov/commercialcrew/category/boeing/">Commercial Crew blog</a></li>
        <li>News release:&nbsp;<a href="https://www.nasa.gov/press-release/nasa-to-provide-coverage-of-boeing-orbital-flight-test-for-commercial-crew">NASA to Provide Coverage of Boeing Orbital Flight Test for Commercial Crew</a></li>
      </ul>

      <div class="dnd-atom-wrapper type-video context-full_width" contenteditable="false">
        <div class="dnd-drop-wrapper"><!-- scald=312198:full_width --><div class="scald-youtube-wrapper" >
          <iframe title="NASA Live: Official Stream of NASA TV" width="1280" height="720" src="//www.youtube.com/embed/21X5lGlDOfg?rel=0" frameborder="0" allowfullscreen=""></iframe>
        </div><!-- END scald=312198 --></div>

        <div class="dnd-legend-wrapper" contenteditable="false">
          <div class="caption"></div>

          <div class="credits"></div>

          <div class="link"><a href="https://www.youtube.com/user/NASAtelevision">Official NASA YouTube Channel</a></div>
        </div>
      </div>

      <h3><u><strong>Upcoming Live Events (All Times Eastern)</strong></u></h3>

      <p><strong>December 20, Friday</strong><br>
        5:30 a.m. – Launch coverage of the Boeing CST-100 Starliner Commercial Crew Vehicle Orbital Flight Test; launch is scheduled at 6:36 a.m. EST<br>
        9 a.m. – NASA Administrator Boeing Starliner CST-100 post-launch briefings (time subject to change)&nbsp;<br>
        9:30 a.m. – Boeing Orbital Flight Test Launch Team post-launch news conference</p>

      <p></p>

      <p><strong>December 21, Saturday</strong><br>
        5 a.m. – Coverage of the Rendezvous and Docking of the Boeing CST-100 Starliner Commercial Crew Vehicle to the&nbsp;International Space Station (Docking is scheduled at 8:27 a.m. EST; coverage will continue through hatch opening at appx. 11 a.m. EST)&nbsp;</p>

      <p></p>

      <p><strong>December 27, Friday</strong><br>
        6:05 a.m. – International Space Station Expedition 61 in-flight Interviews with NASA astronaut Christina Koch&nbsp;<br>
        8:15 a.m. – Coverage of the hatch closing to the Boeing CST-100 Starliner Commercial Crew Vehicle at the International Space Station; hatch closing scheduled at&nbsp;8:35 a.m. EST&nbsp;<br>
        11:45 p.m. – Coverage of the undocking of the Boeing CST-100 Starliner Commercial Crew Vehicle from the International Space Station.&nbsp;Undocking scheduled at 12:44 a.m. EST on Dec. 28.&nbsp;</p>

      <p></p>

      <p><strong>December 28, Saturday</strong><br>
        4:30 a.m. – Coverage of the deorbit of the Boeing CST-100 Starliner Commercial Crew Vehicle and landing at the White Sands Space Harbor, New Mexico. Deorbit burn scheduled at 5:01 a.m. EST; landing scheduled at 5:47 a.m. EST&nbsp;Johnson Space Center/White Sands Space Harbor, New Mexico&nbsp;</p>

      <p></p>

      <div></div>

      <p></p>

      <p></p>

      <p></p>

      <p></p>

      <div></div>

      <p></p>

      <p></p>

      <p></p>

      <p><strong>Wednesday, Feb. 5, 11:15 p.m.</strong>: <a href="https://www.nasa.gov/press-release/nasa-invites-media-to-launch-of-solar-orbiter-spacecraft">Launch of Solar Orbiter</a>. Solar Orbiter, a joint NASA/ESA (European Space Agency) mission, will address central questions concerning our star, the Sun. The spacecraft will launch on a United Launch Alliance Atlas V 411 rocket from Space Launch Complex 41 at Cape Canaveral. NASA’s Launch Services Program is managing the launch.</p>
    </div>

    <!----><!---->

    <!---->        </div>

</section>
