<body>
<form [formGroup]="registerForm"
      (ngSubmit)="createCompany(this.company)">
  <input type="text" class="form-control" name="bg" placeholder="Input login" [(ngModel)]="company.name" formControlName="name"
         required>
  <div class="alert alert-danger"
       *ngIf="registerForm.controls['name'].invalid && registerForm.controls['name'].touched">
    Enter your login correctly
  </div>

  <input type="email" class="form-control" name="bg" placeholder="Input E-mail" [(ngModel)]="company.shortDescription"
         formControlName="description"  required>
  <div class="alert alert-danger"
       *ngIf="registerForm.controls['description'].invalid && registerForm.controls['description'].touched">
    Please check your email!
  </div>


  <div class="container">
    <app-btn [type]="'submit'" [ngClass]="'btn btn-dark btn-block'"

             [disabled]="!registerForm.valid"
             [text]="'add'"></app-btn>
  </div>

</form>
</body>
