<form>

  <app-input [inputLabel]="'Name'"
             [placeholder]="'Please enter your name'" >
  </app-input>

  <app-input [inputLabel]="'Email'"
             [placeholder]="'Please enter your email'" type="email">
  </app-input>

  <app-input [inputLabel]="'Password'"
             [placeholder]="'Password'" type="password">
  </app-input>



  <app-input [inputLabel]="'Confirm password'"
             [placeholder]="'confirm password'" type="password">
  </app-input>

  <app-btn [text]="'Create profile'" id="app-btn"></app-btn>
</form>
