.jumbotron{

  background-color: rgba(0, 153, 153, 0.4);
  margin-top: 30px;
  border-radius: 45px;
  text-decoration: #742E37;}
.display-4{
  text-align: center;
  font-family: fantasy;
  font-weight: 300;
}

.mb-0{
  font-family:  fantasy;
  font-size: x-large;
  text-align: center;
  color: #BF8930;
  text-decoration: blink;
  font-weight: bolder;
}
