<div class="card-header" >
  {{companiesByOwner}}
  <h6 id="idLabel">{{id}}</h6>
</div>
<div class="card-body">
  <h5 class="card-title">{{chanelName}} </h5>
  <p class="card-text">{{smallDiscription}}</p>

  <button type="button" class="btn btn-success" data-container="body" data-toggle="popover" title="Success!"
          data-content="You are now subscribed!"
          (click)="subscribeOnChanel()" name="button" *ngIf="userRole =='CUSTOMER'"
  >Subscribe: {{price}}$
  </button>

  <button type="button" class="btn btn-danger" data-container="body" data-toggle="popover" title="Success!"
          data-content="You are now subscribed!"
          (click)="unsubscribe( id, storageService.getUser().idUser)" name="button" *ngIf="userRole =='CUSTOMER',"
  >Unsubscribe
  </button>
</div>


