<div class="card-header">
  {{companiesByOwner}}
  <h6 id="idLabel">{{id}}</h6>
</div>
<div class="card-body">
  <h5 class="card-title">{{chanelName}} </h5>
  <p class="card-text">{{smallDiscription}}</p>

<!--  <app-btn [text]="'Subscribe '" [class]="'btn-success'"-->
<!--           [cardPrice]="price" className="sub_btn" >-->

<!--  </app-btn>-->
  <button type="button" class="btn btn-success" data-container="body" data-toggle="popover" title="Success!" data-content="You are now subscribed!"
          (click)="subscribeOnChanel()"  name="button"*ngIf="userRole!=='COMPANY'"
          >Subscribe: {{price}}$</button>

</div>

<!--<div class="alert alert-success" role="alert" id="alertMessage"aria-disabled="true">-->
<!--  <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>-->
<!--  Subscribed!-->
<!--</div>-->
